{% extends 'base.html.twig' %}

{% block title %}Hello FormController!
{% endblock %}

{% block body %}

	<div class="container mt-4">

	
	<h2>Ajouter une seance</h2>
	{{ form_start(form_product)}}
	 

		{{ form(form_product, {'attr': {'id': 'custom_product_form'}} )}}
		{{ form_end(form_product)}}
        
		</div>
{% endblock %}

