{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}


	<div class="contasiner card clr">
		{% for message in app.flashes('delete') %}
			<div class="alert alert-success">
				{{ message}}
			</div>

		{% endfor %}
		{% for message in app.flashes('info') %}
			<div class="alert alert-success">
				{{ message}}
			</div>

		{% endfor %}

		<div class="row mt-4 p-2">

			<div class="col-md-9">

				<div class="gridd">
				
					{% for product in products %}
						<div class="card">

							<img src="{{ product.image }}" class="card-img-top"/>
							<div class="card-body">

								<h2 class="card-title">{{ product.name }}</h2>
								<div class="card-title text-primary prix">
									{{ product.price | number_format(0, ',', ' ')}}
									€
									{% if product.promo %}
										<div class="text text-warning">Promo !!</div>

									{% endif %}
								</div>
								<p class="text text-muted">{{ product.description}}</p>


								<a href="{{ path('delete_product', {'id': product.id})}}" class="btn btn-success">Supprimer</a>
								

							</div>

						</div>
					{% endfor %}
				</div>
		
		
		
		
		
			</div>
			<div class="col-md-3">
			<h2>Lancer la recherche</h2>

				{{ form_start(form, {attr: {class: 'filter'}}) }}
				{{ form_row(form.recherche) }}

				<h4>Categories</h4>
				{{ form_row(form.categories)}}

				<h4>Prix</h4>
				{{ form_row(form.min)}}
				{{ form_row(form.max)}}

				<h4>Promotion</h4>
				{{ form_row(form.promo)}}
				<button class="btn btn-primary w-100">Lancer</button>
				{{ form_end(form)}}

			</div>
			



		</div>
	</div>


{% endblock %}

