body{
  font-family: 'Nanum Myeongjo', serif;
}
.contenu{
    /* display: grid;
     grid-template-columns: 1fr 2fr 1fr;  
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     
    margin: 20px;    
     
}


@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }

@media (min-width: 600px) {
    .contenu { grid-template-columns: repeat(3, 1fr); }
  }



.menu li{
    list-style: none;
    padding-left: 20px;
    background-color: #e770b085 ;
  
}
.menu li a {
    text-decoration: none;
     
    color: white;
   
    
    
}

/* seance page*/

.gridd{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;

}
@media (min-width: 900px) {
  .gridd { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 600px) {
  .gridd { grid-template-columns: repeat(3, 1fr); }
}

 
 .clr{
   background-color:#fff;
   margin-top: 30px;
 }

 .prix{
   font-weight: bold;
   font-size: 1.5rem;
 }
.img{
  max-width: 100%;
  max-height: 100%;
}
 
 
.btnn{
  background-color: #5c8ce6 ;
  padding: 7px;
  color: white;
  text-align: center;
  border-radius: 7px;
  width: 150px;
  margin: 5px auto;
}
 
.filter {
  display: block;
  position: sticky;

}

.contasiner{
  margin: auto 50px;
}

.fa-jedi-order{
  color: #772953;
   
}
.produit-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;

}
.image img{
  height: 100%;
  width: 100%;
   background-color: #772953;
}
.image {

  padding: 10px;
}