<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet"> 
        <link href="https://bootswatch.com/4/united/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
        <link href="css/style.css" rel="stylesheet"/>
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ path('home_index')}}">Site-Produit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      {# <li class="nav-item active">
        <a class="nav-link active" href="{{ path('blog')}}">Blog <span class="sr-only">(current)</span></a>
      </li> #}
      <li class="nav-item active">
        <a class="nav-link " href="{{ path('home_product')}}">Produits</a>
      </li>
   
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('form')}}">Ajouter une seance</a>
      </li>

    
    </ul>
 
  </div>
</nav>




 

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
